#login-view {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 20%;
    /*background-color: #7f3f49;*/
    color: white;
}
:host {
    display: block;
    padding: var(--lumo-space-m) var(--lumo-space-l);
}
